@model Rent.Models.Product[]

@{
    ViewBag.Title = "Мои объявления";
}

<h2>Мои объявления</h2>
<div class="col-md-6">
    @Html.ActionLink("Добавить объявление", "CreateProduct", "Rent", null, new { @class = "btn btn-block btn-success"})
</div>
<table class="table table-hover table-striped">
    <tr>
        <th>Фотография</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Категория</th>
        <th>Описание</th>
        <th>Действие</th>
    </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <img src="@item.PhotoUrl" class="browse-item-img" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
        <td>
            @Html.ActionLink("Удалить", "DeleteProduct", "Rent", new { Id = item.Id }, new { @class = "btn btn-block btn-success" })
            @Html.ActionLink("Изменить", "UpdateProduct", "Rent", new { Id = item.Id }, new { @class = "btn btn-block btn-success" })
        </td>
    </tr>
        }

</table>