@model Rent.Models.Product[]

@{
    ViewBag.Title = "BrowseItems";
}

<h2>BrowseItems</h2>
<div class="col-md-6">
    @Html.ActionLink("Добавить объявление", "CreateProduct", "Rent", null, new { @class = "btn btn-block btn-success"})
</div>
<table class="table table-hover table-striped">


    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src="@item.PhotoUrl" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
    </tr>
    }

</table>