@model Rent.Models.TakenProduct[]
@{
    ViewBag.Title = "RequestedAd";
}

<h2>RequestedAd</h2>
<table class="table table-bordered table-hover table-striped table-condensed">
    <th>Товар</th>
    <th>Фотография</th>
    <th>Суммарная стоимость</th>
    <th>Дата бронирования начала</th>
    <th>Дата бронирования окончания</th>
    <th>Пользователь</th>
    <th>Action</th>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Product.Name</td>
        <td><img src="@item.Product.PhotoUrl" /></td>
        <td>@item.Cost</td>
        <td>@item.DateTaken</td>
        <td>@item.DateReturn</td>
        <td>@item.User.Name</td>
        <th>
            @{
                if (!item.LessorProof)
                {
                    @Html.ActionLink("Нажмите, чтобы подтвердить, что вы отдали товар", "ChekedLessorProof", "Rent", new { idTakenProduct = item.Id }, new { @class = "btn btn-block btn-success" })
                }
                else if (!item.LessonReturnProof)
                {
                    @Html.ActionLink("Нажмите, чтобы подтвердить, что вам возвратили товар", "ChekedLessorReturnProof", "Rent", new { idTakenProduct = item.Id }, new { @class = "btn btn-block btn-success" })
                    //Диспут @Html.ActionLink("Нажмите, чтобы подтвердить, что вам возвратили товар", "ChekedLessorReturnProof", "Rent", new { Id = item.Id }, new { @class = "btn btn-block btn-success" })
                }
            }
        </th>
    </tr>
    }
</table>
