@using Rent.ExtensionsForHelpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Все объявления", "Browse_item", "Rent")
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Личное<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Взятые мной в аренду", "ListMyTakenProduct", "Rent")</li>
                        <li>@Html.ActionLink("Мои объявления", "MyAd", "Rent")</li>
                        <li>@Html.ActionLink("Активные", "RequestedAd", "Rent")</li>
                        <li>@Html.ActionLink("Пополнить счет", "Index", "Pay")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
               *<li class="dropdown">
                    
                    @Html.ActionLink("Любой текст", "ListMyTakenProduct", "Rent").Action()
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Категории", "ListCategories", "Admin")</li>
                        <li>@Html.ActionLink("Пользователи", "ListUsers", "Admin")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>Здравствуйте, @User.Identity.Name</li>
                <li style="padding-top: 20px; right: 127px;">@Html.Name(User.Identity.Name).Money() рублей</li>
               
            </ul>
        </div>
    </nav>
    <div style="margin-top: -80px;" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
