@model IEnumerable<Rent.Models.Category>

@{
    ViewBag.Title = "ListCategories";
}

<h2>ListCategories</h2>

<p>
    @Html.ActionLink("Добавить катеорию", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "UpdateCategory", new { id=item.Id }, new { @class = "col-md-3 btn btn-block btn-success" }) 
            @Html.ActionLink("Удалить", "DeleteCategory", new { id=item.Id }, new { @class = "col-md-3 btn btn-block btn-danger" })
        </td>
    </tr>
}

</table>
